In [1]:
import os
import sys

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#!python3 -m pip install pyreadstat

In [3]:
text_to_val_df = pd.read_excel("Variablenwerte.xls", names=["Name", "Value", "Text"], header=1)
# Fill all names
for i in range(len(text_to_val_df)):
    if pd.isna(text_to_val_df.loc[i, "Name"]):
        text_to_val_df.loc[i, "Name"] = text_to_val_df.loc[i - 1, "Name"]
# make values ints
for i in range(len(text_to_val_df)):
    val = text_to_val_df.loc[i, "Value"]
    if val == ",00":
        val = 0
    elif val == "1,00":
        val = 1
    else:
        val = str(val).split(",")[0].replace(",", "")
        if val == "":
            print(i)
            val = -1
        else:
            val = int(val)
    text_to_val_df.loc[i, "Value"] = val
text_to_val_df

       Name Value                                               Text
0     f1a_1     0                  no  Ja, jemand mit positivem Test
1     f1a_1     1                      Ja, jemand mit positivem Test
2     f1a_2     0  no  Ja, jemand mit ärztlicher Diagnose, aber o...
3     f1a_2     1  Ja, jemand mit ärztlicher Diagnose, aber ohne ...
4     f1a_3     0  no  Ja, jemand mit möglichen Symptomen, aber n...
...     ...   ...                                                ...
1209     bl    12                                        Brandenburg
1210     bl    13                             Mecklenburg-Vorpommern
1211     bl    14                                            Sachsen
1212     bl    15                                     Sachsen-Anhalt
1213     bl    16                                          Thüringen

[1214 rows x 3 columns]

In [4]:
df = pd.read_spss("f20.0251z_290620.sav")
# replace strings by values using Variablenwerte.xls
replace_dict = {name: {row["Text"]: row["Value"] for _, row in text_to_val_df[text_to_val_df["Name"] == name].iterrows()} for name in text_to_val_df["Name"].unique()}
df = df.replace(replace_dict)
# replace empty rows by NaN
df = df.replace({"": np.nan, " ": np.nan})
# remove "offen" fields
df = df[[col for col in df if "offen" not in col]]
df

,sernr,f1a_1,f1a_2,f1a_3,f1a_4,f1a_5,f1a_6,f1b_1,f1b_2,f1b_3,...,f145,f146,altq,altqx,ges,plz,bl,regbez,lkrs,weight
0,1.0,0,0,0,0,1,0,0,0,0,...,NaN,2,67.0,5,2,972.0,9,6.0,77.0,0.947
1,2.0,0,0,0,0,1,0,0,0,0,...,NaN,2,54.0,4,2,844.0,9,1.0,77.0,0.880
2,3.0,0,0,0,0,1,0,0,0,0,...,NaN,2,67.0,5,2,985.0,16,0.0,66.0,1.051
3,4.0,0,0,0,0,1,0,0,0,0,...,NaN,2,26.0,2,1,453.0,5,1.0,13.0,2.233
4,6.0,0,0,0,0,1,0,0,0,0,...,NaN,2,50.0,4,1,703.0,8,1.0,11.0,0.923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30063,31676.0,0,0,0,0,1,0,0,0,0,...,NaN,1,53.0,4,1,168.0,12,0.0,68.0,0.853
30064,31677.0,0,0,1,0,0,0,0,0,1,...,NaN,2,31.0,2,1,732.0,8,1.0,16.0,1.015
30065,31678.0,0,0,0,0,0,1,0,0,0,...,NaN,2,44.0,3,2,42.0,14,7.0,13.0,0.787
30066,31679.0,0,0,0,0,1,0,0,0,0,...,NaN,2,41.0,3,1,11.0,14,6.0,12.0,0.870
30067,31680.0,0,0,0,0,1,0,0,0,0,...,1,1,74.0,6,2,452.0,5,1.0,13.0,0.986

In [5]:
# detect all non-int and non-float cols
for col in df:
    if df[col].dtype not in ("float64", "int64"):
        print(col, df[col].dtype)
        non_na = df[col][~df[col].isna()]
        print("Len: ", len(non_na))
        print(non_na.head(3))
        if len(non_na.unique()) < 10:
            print("unique distrs:")
            for val in non_na.unique():
                print(val)
                print((non_na == val).mean())
        print()

nf33a category
Len:  30068
0    1.0
1    3.0
2    2.0
Name: nf33a, dtype: category
Categories (27, float64): [0.0, 1.0, 2.0, 3.0, ..., 32.0, 34.0, 36.0, 99.0]

nf33b category
Len:  30068
0    2.0
1    0.0
2    4.0
Name: nf33b, dtype: category
Categories (10, float64): [0.0, 1.0, 2.0, 3.0, ..., 6.0, 7.0, 8.0, 99.0]

nf34a category
Len:  30068
0     2.0
1     1.0
2    99.0
Name: nf34a, dtype: category
Categories (27, float64): [0.0, 1.0, 2.0, 3.0, ..., 30.0, 32.0, 36.0, 99.0]

nf34b category
Len:  30068
0     0.0
1     0.0
2    99.0
Name: nf34b, dtype: category
Categories (10, float64): [0.0, 1.0, 2.0, 3.0, ..., 6.0, 7.0, 8.0, 99.0]

nf35a category
Len:  30068
0     4.0
1    12.0
2     5.0
Name: nf35a, dtype: category
Categories (31, float64): [0.0, 1.0, 2.0, 3.0, ..., 31.0, 32.0, 36.0, 99.0]

nf35b category
Len:  30068
0    0.0
1    0.0
2    0.0
Name: nf35b, dtype: category
Categories (10, float64): [0.0, 1.0, 2.0, 3.0, ..., 6.0, 7.0, 8.0, 99.0]

nf36a category
Len:  30068
0     4.0
1    12.0
2    12.0
Name: nf36a, dtype: category
Categories (33, float64): [0.0, 1.0, 2.0, 3.0, ..., 32.0, 33.0, 36.0, 99.0]

nf36b category
Len:  30068
0    0.0
1    0.0
2    0.0
Name: nf36b, dtype: category
Categories (10, float64): [0.0, 1.0, 2.0, 3.0, ..., 6.0, 7.0, 8.0, 99.0]

f41 category
Len:  86
107    1
271    1
401    1
Name: f41, dtype: category
Categories (1, int64): [1]
unique distrs:
1
1.0

nf42 category
Len:  2137
5     0.0
31    1.0
32    1.0
Name: nf42, dtype: category
Categories (53, float64): [0.0, 1.0, 2.0, 3.0, ..., 700.0, 900.0, 2000.0, 99999.0]

f49 category
Len:  699
76     1
183    1
246    1
Name: f49, dtype: category
Categories (1, int64): [1]
unique distrs:
1
1.0

nf76 category
Len:  30068
0    2.0
1    3.0
2    2.0
Name: nf76, dtype: category
Categories (15, float64): [1.0, 2.0, 3.0, 4.0, ..., 13.0, 14.0, 20.0, 99.0]

nf77 category
Len:  22613
0    0.0
1    1.0
2    0.0
Name: nf77, dtype: category
Categories (9, float64): [0.0, 1.0, 2.0, 3.0, ..., 5.0, 6.0, 9.0, 99.0]
unique distrs:
0.0
0.6776190686773095
1.0
0.14885243001813117
2.0
0.13279971697696016
3.0
0.02931941803387432
4.0
0.003980011497810993
99.0
0.006677574846327334
6.0
0.00017688939990271083
5.0
0.0005306681997081325
9.0
4.422234997567771e-05

nf82 category
Len:  30068
0    10.0
1     1.0
2    50.0
Name: nf82, dtype: category
Categories (126, float64): [0.0, 1.0, 2.0, 3.0, ..., 980.0, 999.0, 1000.0, 9999.0]

nf83 category
Len:  30068
0     3.0
1     0.0
2    10.0
Name: nf83, dtype: category
Categories (100, float64): [0.0, 1.0, 2.0, 3.0, ..., 888.0, 900.0, 1000.0, 9999.0]

nf84 category
Len:  30068
0    20.0
1     1.0
2    40.0
Name: nf84, dtype: category
Categories (165, float64): [0.0, 1.0, 2.0, 3.0, ..., 995.0, 999.0, 1000.0, 9999.0]

nf88 category
Len:  30068
0    120.0
1    200.0
2    190.0
Name: nf88, dtype: category
Categories (272, float64): [5.0, 9.0, 10.0, 11.0, ..., 930.0, 965.0, 1000.0, 9999.0]

nf92 category
Len:  30068
0    0.0
1    0.0
2    0.0
Name: nf92, dtype: category
Categories (221, float64): [0.0, 10.0, 11.0, 12.0, ..., 460000.0, 475000.0, 500000.0, 999999.0]

nf94 category
Len:  30068
0    999999.0
1       400.0
2      1000.0
Name: nf94, dtype: category
Categories (130, float64): [0.0, 1.0, 2.0, 3.0, ..., 60000.0, 80000.0, 100000.0, 999999.0]

nt1 category
Len:  30068
0    168.0
1    164.0
2    157.0
Name: nt1, dtype: category
Categories (75, float64): [106.0, 107.0, 110.0, 117.0, ..., 207.0, 208.0, 209.0, 999.0]

nt2 category
Len:  30068
0    65.0
1    72.0
2    75.0
Name: nt2, dtype: category
Categories (150, float64): [37.0, 38.0, 40.0, 41.0, ..., 220.0, 227.0, 285.0, 999.0]

f145 category
Len:  2072
51     1
59     1
107    1
Name: f145, dtype: category
Categories (1, int64): [1]
unique distrs:
1
1.0

altq category
Len:  30068
0    67.0
1    54.0
2    67.0
Name: altq, dtype: category
Categories (78, float64): [18.0, 19.0, 20.0, 21.0, ..., 92.0, 94.0, 95.0, 0.0]

/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())
/home/anton/.local/lib/python3.8/site-packages/pandas/io/formats/format.py:1403: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())

In [6]:
# convert rows to ints
int_names = ["nf33a", "nf33b", "nf34a", "nf34b", "nf35a", "nf35b", "nf36a", "nf36b"]
for name in int_names:
    df[name] = df[name].astype(float)
# some have missings that cannot be converted to int
float_names = ["f41", "nf42", "f49", "nf76", "nf77", "nf82", "nf83", "nf84", "nf88", "nf92", "nf94", "nt1", "nt2", "f145", "altq"]
for name in float_names:
    df[name] = df[name].astype(float)
    #non_na_mask = ~df[name].isna()
    #df.loc[non_na_mask, name] = df.loc[non_na_mask, name].astype(float)

In [7]:
df

,sernr,f1a_1,f1a_2,f1a_3,f1a_4,f1a_5,f1a_6,f1b_1,f1b_2,f1b_3,...,f145,f146,altq,altqx,ges,plz,bl,regbez,lkrs,weight
0,1.0,0,0,0,0,1,0,0,0,0,...,NaN,2,67.0,5,2,972.0,9,6.0,77.0,0.947
1,2.0,0,0,0,0,1,0,0,0,0,...,NaN,2,54.0,4,2,844.0,9,1.0,77.0,0.880
2,3.0,0,0,0,0,1,0,0,0,0,...,NaN,2,67.0,5,2,985.0,16,0.0,66.0,1.051
3,4.0,0,0,0,0,1,0,0,0,0,...,NaN,2,26.0,2,1,453.0,5,1.0,13.0,2.233
4,6.0,0,0,0,0,1,0,0,0,0,...,NaN,2,50.0,4,1,703.0,8,1.0,11.0,0.923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30063,31676.0,0,0,0,0,1,0,0,0,0,...,NaN,1,53.0,4,1,168.0,12,0.0,68.0,0.853
30064,31677.0,0,0,1,0,0,0,0,0,1,...,NaN,2,31.0,2,1,732.0,8,1.0,16.0,1.015
30065,31678.0,0,0,0,0,0,1,0,0,0,...,NaN,2,44.0,3,2,42.0,14,7.0,13.0,0.787
30066,31679.0,0,0,0,0,1,0,0,0,0,...,NaN,2,41.0,3,1,11.0,14,6.0,12.0,0.870
30067,31680.0,0,0,0,0,1,0,0,0,0,...,1.0,1,74.0,6,2,452.0,5,1.0,13.0,0.986

In [8]:
df["f1a_1"].sum()

559

In [9]:
df["f1a_2"].sum()

77

In [10]:
df["f1a_3"].sum()

494

In [11]:
df["f1a_4"].sum()

248

In [12]:
(df["f1a_1"] + df["f1a_2"] + df["f1a_3"] + df["f1a_4"]).astype(bool).sum()

1286

In [14]:
(df["f1b_1"] + df["f1b_2"] + df["f1b_3"] + df["f1b_4"]).astype(bool).sum()

3520

In [15]:
(df["f1a_1"] + df["f1b_1"]).astype(bool).sum()

1961

In [28]:
(df["f2a"] == 2).sum()

17

In [29]:
(df["f2b"] == 2).sum()

82

In [34]:
((df["f2a"] == 1).astype(int) + (df["f2b"] == 1).astype(int) + df["f1a_1"] + df["f1b_1"]).astype(bool).sum()

1988

In [187]:
len(df) - (28080 + 1906)

82

In [186]:
df

29986

In [188]:
len(df)

30068

In [35]:
pred_df = df.copy()

In [37]:
pred_df["target"] = ((df["f2a"] == 1).astype(int) + (df["f2b"] == 1).astype(int) + df["f1a_1"] + df["f1b_1"]).astype(bool)
drop_cols = [col for col in pred_df if "f1a" in col or "f2a" in col or "f2b" in col or "f1b" in col]
pred_df = pred_df.drop(columns=drop_cols)

In [42]:
pred_df = pred_df.fillna(pred_df.median())

In [43]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [68]:
from sklearn.model_selection import train_test_split
x = pred_df.drop(columns=["target", "sernr"])
labels = x.columns
y = pred_df["target"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y)

In [69]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [70]:
preds_test = clf.predict(x_test)

In [71]:
(preds_test == y_test).mean()

0.9352135160303312

In [72]:
1 - y_test.mean()

0.9338831980843422

In [75]:
df_imps = pd.DataFrame({"imp": clf.feature_importances_, "feature": labels})

In [76]:
df_imps.sort_values("imp")

          imp feature
111  0.000000     f49
156  0.000000   f78_6
99   0.000000   f44_8
160  0.000000   f79_4
161  0.000000   f79_5
..        ...     ...
259  0.017204    altq
181  0.017527    nf88
222  0.017955     nt1
223  0.018318     nt2
262  0.021932     plz

[267 rows x 2 columns]

In [136]:
col_name = "f1a_5"
col = df[col]
print(col.iloc[0])
print(col.head())
print(col.tail())
print()
print(col.describe())
print()
if len(col.unique()) < 10:
    print("unique distrs:")
    for val in col.unique():
        print(val)
        print((col == val).mean())

0.947
0    0.947
1    0.880
2    1.051
3    2.233
4    0.923
Name: weight, dtype: float64
30063    0.853
30064    1.015
30065    0.787
30066    0.870
30067    0.986
Name: weight, dtype: float64

count    30068.000000
mean         0.999990
std          0.318168
min          0.701000
25%          0.864000
50%          0.917000
75%          0.958000
max          2.241000
Name: weight, dtype: float64